body {
  margin: 0;
}

input, button {
  font: 400 18px 'Segoe UI', sans-serif
}

form input {
  width: 100%;
  height: 40px;
  border: 1px solid #333;
  border-radius: 8px;
  padding: 0 24px;
  margin-top: 10px;
  display: inline-block;  
}

button {
  width: 100%;
  height: 40px;
  background: blue;
  border: 0;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 18px;  
  transition: opacity .2s;
}

button:hover {
  opacity: .8;
}